//
   Created by SASi on 18-Apr-16.

footer
    //.container
        .footer-content
            .row
                .col-lg-3
                    .title Account
                    ul.list-unstyled
                        li
                            a(href="#")
                                i.fa.fa-angle-right.icon-left(aria-hidden="true")
                                span My Account
                        li
                            a(href="#")
                                i.fa.fa-angle-right.icon-left(aria-hidden="true")
                                span My Projects
                        li
                            a(href="#")
                                i.fa.fa-angle-right.icon-left(aria-hidden="true")
                                span Login
                        li
                            a(href="#")
                                i.fa.fa-angle-right.icon-left(aria-hidden="true")
                                span Register
                .col-lg-3
                    .title Information
                    ul.list-unstyled
                        li
                            a(href="#")
                                i.fa.fa-angle-right.icon-left(aria-hidden="true")
                                span About Us
                        li
                            a(href="#")
                                i.fa.fa-angle-right.icon-left(aria-hidden="true")
                                span Contact Us
                        li
                            a(href="#")
                                i.fa.fa-angle-right.icon-left(aria-hidden="true")
                                span Terms & Conditions
                        li
                            a(href="#")
                                i.fa.fa-angle-right.icon-left(aria-hidden="true")
                                span Privacy Policy
                .col-lg-3
                    .title Support & Service
                    ul.list-unstyled
                        li
                            a(href="#")
                                i.fa.fa-angle-right.icon-left(aria-hidden="true")
                                span Documentation
                        li
                            a(href="#")
                                i.fa.fa-angle-right.icon-left(aria-hidden="true")
                                span API
                        li
                            a(href="#")
                                i.fa.fa-angle-right.icon-left(aria-hidden="true")
                                span Help
                        li: a(href="#")
                            i.fa.fa-angle-right.icon-left(aria-hidden="true")
                            span Blog

                .col-lg-3
                    .title Post us
                    ul.list-unstyled
                        li
                            p HSR Layout,
                            p Bangalore,
                            p Karnataka.
                            p
                                i.fa.fa-phone.icon-left(aria-hidden="true")
                                span +91 903 658 2678

    .copy-right-mark
        .container
            .row
                .col-lg-12
                    p &copy 2016 Bug Tracker. All Rights Reserved.

