//
   Created by SASi on 14-May-16.
.sidebar
    ul.list-group
        a.list-group-item(href="dashboard")
            i.fa.fa-laptop.icon-left(aria-hidden="true")
            | Dashboard
        a.list-group-item(href="new")
            i.fa.fa-plus.icon-left(aria-hidden="true")
            | New Project
        a.list-group-item(href="projects")
            i.fa.fa-list.icon-left(aria-hidden="true")
            | My Projects
        a.list-group-item(href="profile")
            i.fa.fa-user.icon-left(aria-hidden="true")
            | My Profile
        a.list-group-item(href="logout")
            i.fa.fa-sign-out.icon-left(aria-hidden="true")
            | Logout