body {
  background: #F9F9F9;
}

.navbar {
  border-radius: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  a {
    &:active, &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
  .navbar-header {
    img {
      display: inline-block;
      margin-right: 6px;
      margin-top: -3px;
    }
  }
}

.icon-right {
  margin-left: 6px;
}

.icon-left {
  margin-right: 6px;
}

.carousel-control {
  &.left, &.right {
    background: none;
  }
  .fa {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
  }

  &.offers {
    width: 50px;
    height: 100px;
    background: #000;
    opacity: 0.3;
    margin: 0 6px;
    top: 32%;
    .fa {
      top: 48%;
      color: #fff;
    }
    &.left {
      .fa {
        left: 20px;
      }
    }
    &.right {
      .fa {
        left: 22px;
      }
    }
  }
}

.fa {
  font-size: 14px;
}

.form-control {
  border-radius: 0;
  outline: none;
  .no-box-shadow;
  border-color: #ccc;
  &:focus, &:active {
    .no-box-shadow;
    border-color: #ccc;
  }
}

.navbar-form {
  width: 100%;
}

//.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover,
//.navbar-default .navbar-nav > .open > a:focus {
//  background: transparent;
//}

.card {
  min-height: 80px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  background: #fff;
  border-radius: 4px;
  .box-shadow;
  img {
    width: 100%;
  }
  &.filters {
    padding: 15px 20px;
  }
}

.list-vertical {
  li {
    display: inline-block;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

&::-webkit-scrollbar-thumb {
  background-color: #BCBCBC;
}

.centerXY {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading {
  position: absolute;
  top: 25%;
  left: 45%;
  z-index: 9999;
  img {
    width: 150px;
  }
}