//
   Created by SASi on 14-May-16.


.home-wrapper
    .home

    .container
        .title
            img(src="/img/cloud_computing_1.png")
            h1 #4D656E Bug Tracker
            h3 A simple JS Library

        button.btn.btn-default(data-toggle="modal", data-target="#userLoginModalLabel", ng-click="showRegisterView()") Register


include ../includes/login-modal
include ../includes/footer